<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Packing/Commodity Entries</div>
      </div>
    </p-header>
    <p-toast class="ui-toast-message-warn" position="center" [modal]="true" key="t-warn"></p-toast>
    <p-toast class="ui-toast-message-success" position="center" [modal]="true" key="t-success"></p-toast>
    <p-toast class="ui-toast-message-error" position="center" [modal]="true" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-4"></div>
      <div class="ui-g-4 card">
        <div class="ui-g-12">
          <p-radioButton class="ui-g-6 ui-md-6" name="groupname" value="PackingData" label="Packing Master" [(ngModel)]="selectedValue"></p-radioButton>
          <p-radioButton class="ui-g-6 ui-md-6" name="groupname" value="CommodityData" label="Commodity Master" [(ngModel)]="selectedValue"></p-radioButton>
        </div>
      </div>
      <div class="ui-g-4"></div>
    </div>
  </p-panel>
</div>