<p-blockUI [blocked]="blockScreen">
  <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
</p-blockUI>
<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Commodity Master Adding</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err" (onClose)="onClose()" [modal]="true"></p-toast>



    <div class="employee-main" style="max-width: 1000px; margin: 20px auto !important;">


      <div>
        <form #partyForm="ngForm" (ngSubmit)="onSubmit(formUser)">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-3" style="padding-top: 22px">
              <div class="ui-float-label">
                <input class="icon2" size="30" pInputText [(ngModel)]="CommodityCode" name="CommodityCode"
                  autocomplete="off" readonly="true">
                <label for="CommodityCode">CommodityCode</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-9" style="padding-top: 22px">
              <div class="ui-float-label">
                <input class="icon2" size="30" pInputText [(ngModel)]="CommodityName" name="CommodityName"
                  autocomplete="off" required>
                <label for="CommodityName">CommodityName</label>
              </div>
            </div>

          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-float-label">
                <input class="icon2" type="text" size="30" pInputText [(ngModel)]="HSNcode" name="HSNcodd"
                  autocomplete="off" required>
                <label for="HSNcode">HSNcode</label>
              </div>
            </div>

            <div class="ui-g-12 ui-md-2">
              <div class="ui-float-label">
                <input class="icon2" type="text" size="30" pInputText [(ngModel)]="TaxPercentage" name="Pincode"
                  autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); 
                  this.value = this.value.replace(/(\..*)\./g, '$1');" required>
                <label for="16001">TaxPercentage</label>
              </div>
            </div>
          </div>

          <div class="ui-g">
          </div>

          <div class="ui-g">

            <div class="ui-g-6 ui-md-2 ui-fluid">
              <button pButton type="button" (click)="onSubmit(formUser)" style="padding: 3px"
                [disabled]="!partyForm.valid" label=Add></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-fluid">
              <button pButton type="button" (click)="onClear()" style="padding: 3px" label=Clear></button>
            </div>
          </div>
        </form>
      </div>
    </div>



  </p-panel>
</div>