<p-blockUI [blocked]="blockScreen">
  <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
</p-blockUI>
<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 dashboard">
          <div class="ui-g-4 dashboard">Allotment Details</div>
          <div class="ui-g-3"></div>
          <div class="ui-g-4 ui-md-2 dashboard" style="float: right !important;">
            <button class="ui-g-2 dashboard" style="float: right !important;" pButton type="button"
              icon="pi pi-download" (click)="downloadSample()"></button>
          </div>
        </div>
      </div>
    </p-header>
    <div class="ui-g ui-fluid">
      <p-toast (onClose)="onClose()" position="top-center" key="t-err" [modal]="true"></p-toast>
      <div class="ui-g-12 dashboard">
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-12" style="border: 1px solid #18c5a9">
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -20px;">
              <label class="label-fontsize dashboard">Region</label>
              <p-dropdown #region class="ui-fluid dashboard" [options]="regionOptions" [(ngModel)]="RCode"
                (onClick)="onSelect('reg', 'click')" (keyup.shift.tab)="onSelect('reg', 'tab')" [showClear]="true"
                (ngModelChange)="onResetTable('reg')" filter="true" filterMatchMode="startsWith"
                (keyup.tab)="onSelect('reg', 'tab')" resetFilterOnHide="true" placeholder="-select-">
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align:middle">{{item.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -20px;">
              <label class="label-fontsize dashboard">Godown</label>
              <p-dropdown #godown class="ui-fluid dashboard" [options]="godownOptions" [(ngModel)]="GCode"
                (onClick)="onSelect('gd', 'click')" (keyup.shift.tab)="onSelect('gd', 'tab')"
                (ngModelChange)="onResetTable('gd');" filter="true" filterMatchMode="startsWith"
                resetFilterOnHide="true" [showClear]="true" (keyup.tab)="onSelect('gd', 'tab')" placeholder="-select-">
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align:middle">{{item.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="ui-g-4 ui-md-1 ui-fluid" style="margin-top: -20px;">
              <label for="AllotmentMonth" class="label-fontsize">Allotment Month</label>
              <p-dropdown #m="ngModel" class="label-fontsize-large" name="AllotmentMonth" [options]="monthOptions"
                [(ngModel)]="month" (onClick)="onSelect('m', 'click')" (keyup.tab)="onSelect('m', 'tab')"
                (ngModelChange)="onResetTable('mon');" filter="true" resetFilterOnHide="true"
                (keyup.shift.tab)="onSelect('m', 'tab')" optionLabel="label" filterMatchMode="startsWith" required>
              </p-dropdown>
            </div>
            <div class="ui-g-4 ui-md-1 ui-fluid" style="margin-top: -20px;">
              <label for="AllotmentYear" class="label-fontsize">Allotment Year</label>
              <p-dropdown #y="ngModel" class="label-fontsize-large" name="AllotmentYear" [options]="yearOptions"
                [(ngModel)]="year" (onClick)="onSelect('y', 'click')" (keyup.tab)="onSelect('y', 'tab')"
                (keyup.shift.tab)="onSelect('y', 'tab')" (ngModelChange)="onResetTable('yr');" required>
              </p-dropdown>
            </div>
            <div class="ui-g-4 ui-md-3 ui-fluid">
              <input #fileSelector id="my-file-selector" type="file" (change)="uploadData($event);" accept=".xls,.xlsx"
                name="uploadExcel" [disabled]="(!RCode || !GCode || !year || !month)">
            </div>
            <!-- <div class="ui-g-1"></div> -->
            <div class="ui-g-4 ui-md-1">
              <button pButton label=View (click)="getAllotmentDetails()"
                [disabled]="(!RCode || !GCode || !month || !year)"></button>
            </div>
            <div class="ui-g-4 ui-md-1">
              <button pButton label=Save (click)="onSave()"
                [disabled]="(AllotmentData.length=='0' || disableSave)"></button>
            </div>
            <div class="ui-g-4 ui-md-1">
              <button pButton label=Clear (click)="onClear('1');"></button>
            </div>
          </div>
          <div class="ui-g-11 no-pad-top" style="color: #18c5a9;text-decoration: underline;">Allotment Details:</div>
          <div class="ui-g-12">
            <p-table #dt [columns]="AllotmentCols" [value]="AllotmentData" [rows]="20" [totalRecords]="totalRecords"
              [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [responsive]="true" [loading]="loading"
              [scrollable]="true">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" (click)="onSort()">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div *ngIf="abstractData.length!='0'">
            <hr class="ui-g-12 dashboard border-teal">
            <div class="ui-g-11 no-pad-top" style="color: #18c5a9;text-decoration: underline;">
              Allotment - Abstract
              Details:</div>
            <div class="ui-g-12">
              <p-table #abstract [columns]="abstractCols" [value]="abstractData" [rows]="20"
                [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [responsive]="true" [loading]="loading"
                [scrollable]="true">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 50px;">S.No:</th>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 50px;">{{rowIndex + 1}}</td>
                    <td *ngFor="let col of columns">
                      {{rowData[col.field]}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>