<p-blockUI [blocked]="blockScreen">
  <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
</p-blockUI>
<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Truck Memo Slip</div>
      </div>
    </p-header>
    <p-toast (onClose)="onClose()" position="top-center" key="t-err" [modal]="true"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="ibox-body">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form #f="ngForm" name="truckForm">
            <p-tabView [activeIndex]="index">
              <p-tabPanel header="Transfer Details">
                <div class="ui-g-12 ui-fluid border-teal">
                  <div class="ui-g-12 ui-md-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="TNo">Truck No</label>
                      <input type="text" name="TNo" [(ngModel)]="STNo" [readonly]="true" size="20" pInputText
                        autocomplete="off">
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="TruckMemoDate">Truck Date</label>
                      <p-calendar name="TruckMemoDate" [(ngModel)]="STDate" dateFormat="dd/mm/yy" [maxDate]="maxDate"
                        [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label for="TransactionType" class="label-fontsize">Transaction Code</label>
                      <p-dropdown #tr name="TransactionType" [options]="transactionOptions" [(ngModel)]="Trcode"
                        (onClick)="onSelect('tr', 'click')" (keyup.tab)="onSelect('tr', 'tab')"
                        (keyup.shift.tab)="onSelect('tr', 'tab')" [showClear]="true" (onChange)="refreshSelect('tr')"
                        optionLabel="label" filter="true" filterMatchMode="startsWith" resetFilterOnHide="true"
                        required>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label for="MovementOrderNo" class="label-fontsize">Movement Order No</label>
                      <input name="MovementOrderNo" [(ngModel)]="OrderNo" pInputText autocomplete="off" required>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="MovementOrderDate">Movement Order Date</label>
                      <p-calendar name="MovementOrderDate" [(ngModel)]="OrderDate" dateFormat="dd/mm/yy"
                        [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: 20px;">
                      <p-checkbox name="TransportMode" class="ui-g-2 dashboard" value="Road"
                        (onChange)="onSelectTransportMode()" [(ngModel)]="selectedValues" required>
                      </p-checkbox>
                      <label class="ui-g-3 label-fontsize-large no-left-pad" for="TransportMode">Road</label>
                      <p-checkbox name="TransportMode" class="ui-g-2 dashboard" (onChange)="onSelectTransportMode()"
                        value="Rail" [(ngModel)]="selectedValues" required>
                      </p-checkbox>
                      <label class="ui-g-3 label-fontsize-large no-left-pad" for="TransportMode">Rail</label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="ReleaseOrderNo" [(ngModel)]="RNo" pInputText autocomplete="off" required>
                        <label for="ReleaseOrderNo" class="float-input" style="padding-top: 10px;">Release Order
                          No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-top: 10px;">
                      <label class="label-fontsize" for="ReleaseOrderDate">Release Order Date</label>
                      <p-calendar name="ReleaseOrderDate" [(ngModel)]="RDate" dateFormat="dd/mm/yy" [maxDate]="maxDate"
                        [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="RailHead" class="label-fontsize" style="padding-top: 10px;">To The Rail Head</label>
                      <p-dropdown #rail name="RailHead" [options]="toRailHeadOptions" [disabled]="disableRailHead"
                        [(ngModel)]="RHCode" (onClick)="onSelect('rh', 'click')"
                        (keyup.shift.tab)="onSelect('rh', 'tab')" (keyup.tab)="onSelect('rh', 'tab')" [showClear]="true"
                        filter="true" filterMatchMode="startsWith" resetFilterOnHide="true" optionLabel="label"
                        required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="ReceivorRegion" class="label-fontsize" style="padding-top: 10px;">Receivor
                        Region</label>
                      <p-dropdown #rr name="ReceivorRegion" [options]="receivorRegionOptions" [(ngModel)]="RRCode"
                        (onClick)="onSelect('rr', 'click')" (keyup.shift.tab)="onSelect('rr', 'tab')"
                        (keyup.tab)="onSelect('rr', 'tab')" optionLabel="label" filter="true" resetFilterOnHide="true"
                        [disabled]="enableReceivorRegn" filterMatchMode="startsWith" (onChange)="refreshSelect('rr')"
                        [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="ReceivorType" class="label-fontsize" style="padding-top: 10px;">Receivor Type</label>
                      <p-dropdown #rt name="ReceivorType" [options]="receivorTypeOptions" [(ngModel)]="RTCode"
                        (onClick)="onSelect('rt', 'click')" (keyup.shift.tab)="onSelect('rt', 'tab')"
                        (keyup.tab)="onSelect('rt', 'tab')" (onChange)="refreshSelect('rt')" optionLabel="label"
                        [showClear]="true" filter="true" filterMatchMode="startsWith" resetFilterOnHide="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="ReceivorName" class="label-fontsize" style="padding-top: 10px;">Receivor Name</label>
                      <p-dropdown #rn name="ReceivorName" [options]="receivorNameOptions" [(ngModel)]="RNCode"
                        (onClick)="onSelect('rn', 'click')" (keyup.shift.tab)="onSelect('rn', 'tab')"
                        (keyup.tab)="onSelect('rn', 'tab')" [showClear]="true" optionLabel="label" filter="true"
                        filterMatchMode="startsWith" resetFilterOnHide="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RegionName" [(ngModel)]="regionName" pInputText autocomplete="off"
                          [readonly]="true" required>
                        <label for="RegionName" class="float-input" style="padding-top: 10px;">Region Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="IssuingGodown" [(ngModel)]="godownName" pInputText autocomplete="off"
                          [readonly]="true" required>
                        <label for="IssuingGodown" class="float-input" style="padding-top: 10px;">Issuing Godown
                          Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="LorryNumber" maxlength="12" [(ngModel)]="LorryNo" pInputText
                          style="text-transform: uppercase !important" oninput="this.value = this.value.replace(/[^0-9A-Za-z]/g, '');
                          this.value = this.value.replace(/(\..*)\./g, '$1');this.value = this.value.trim()"
                          autocomplete="off" required>
                        <label for="LorryNumber" class="float-input" style="padding-top: 10px;">Lorry No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="ManualDocumentNo" [(ngModel)]="ManualDocNo" pInputText autocomplete="off" required>
                        <label for="ManualDocumentNo" class="float-input" style="padding-top: 10px;">Manual Document
                          No</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Next (click)="openNext()"></button></div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Items Details">
                <div class="ui-g-12 ui-fluid border-teal">
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -22px">
                      <label for="Schemes" class="label-fontsize">Scheme</label>
                      <p-dropdown #sc name="Schemes" [options]="schemeOptions" [(ngModel)]="Scheme"
                        (onClick)="onSelect('sc', 'click')" (keyup.shift.tab)="onSelect('sc', 'tab')"
                        (keyup.tab)="onSelect('sc', 'tab')" optionLabel="label" (onChange)="refreshSelect('sc')"
                        resetFilterOnHide="true" [showClear]="true" filterMatchMode="startsWith" filter="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-3 ui-fluid" style="margin-top: -22px">
                      <label for="Commodity" class="label-fontsize">Item Description</label>
                      <p-dropdown #i_desc name="Commodity" [options]="itemDescOptions" [(ngModel)]="ICode"
                        (onClick)="onSelect('i_desc', 'click')" (keyup.shift.tab)="onSelect('i_desc', 'tab')"
                        (keyup.tab)="onSelect('i_desc', 'tab')" (onChange)="refreshSelect('i_desc')" [showClear]="true"
                        filter="true" resetFilterOnHide="true" filterMatchMode="startsWith" optionLabel="label">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -22px">
                      <label for="StockNo" class="label-fontsize">Stack No.</label>
                      <p-dropdown #st_no name="StockNo" [options]="stackOptions" [(ngModel)]="TStockNo"
                        (onClick)="onSelect('st_no', 'click')" (onChange)="onStackNoChange($event)"
                        (keyup.shift.tab)="onSelect('st_no', 'tab')" (keyup.tab)="onSelect('st_no', 'tab')"
                        filter="true" resetFilterOnHide="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-md-1" style="margin-top: -22px">
                      <label for="GodownNum" class="label-fontsize">Godown</label>
                      <input name="GodownNum" [(ngModel)]="GodownNo" pInputText autocomplete="off" [readonly]="true">
                    </div>
                    <div class="ui-g-4 ui-md-2" style="margin-top: -22px">
                      <label for="LocNo" class="label-fontsize">Loc.+Formation No.</label>
                      <input name="LocNo" pInputText [(ngModel)]="LocationNo" autocomplete="off" [readonly]="true">
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-fluid">
                      <label for="StackYear" class="label-fontsize-large"><b>Stack year - {{stackYear}}</b></label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-3 ui-fluid">
                      <label for="PackingType" class="label-fontsize">Packing Type</label>
                      <p-dropdown #pt name="PackingType" [options]="packingTypeOptions" [(ngModel)]="IPCode"
                        (onClick)="onSelect('pt', 'click')" (keyup.enter)="onSelect('pt', 'enter')"
                        (keyup.tab)="onSelect('pt', 'enter')" optionLabel="label" filter="true" resetFilterOnHide="true"
                        filterMatchMode="startsWith" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label for="NoOfPacking" class="label-fontsize">No.of Packing</label>
                      <input name="NoOfPacking" [(ngModel)]="NoPacking" pInputText autocomplete="off"
                        [readonly]="isValidStackBalance" minlength="1" maxlength="10"
                        oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        (input)="onCalculateKgs()">
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -12px">
                      <p-header>
                        <div class="label-fontsize dashboard" style="text-align: center">
                          Gross Wt
                        </div>
                      </p-header>
                      <label class="label-fontsize" for="GrossWt">Kgs</label>
                      <label class="label-fontsize" for="GrossWt" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="GrossWt" type="text" size="20" [(ngModel)]="GKgs" pInputText
                          (input)="onCalculateWt(GKgs, 'gkgs')" [readonly]="isValidStackBalance" autocomplete="off"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          appDecimalDigit>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -12px">
                      <p-header>
                        <div class="label-fontsize dashboard" style="text-align: center">
                          Net Wt
                        </div>
                      </p-header>
                      <label class="label-fontsize" for="NetWt">Kgs</label>
                      <label class="label-fontsize" for="NetWt" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="NetWt" type="text" size="20" [(ngModel)]="NKgs" pInputText
                          (input)="onCalculateWt(NKgs, 'nkgs')" [readonly]="isValidStackBalance"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off" appDecimalDigit>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -12px">
                      <p-header>
                        <div class="label-fontsize dashboard" style="text-align: center">
                          Tare Wt
                        </div>
                      </p-header>
                      <label class="label-fontsize" for="TareWt">Kgs</label>
                      <label class="label-fontsize" for="TareWt" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="TareWt" type="text" size="20" [(ngModel)]="TKgs" pInputText [readonly]="true"
                          autocomplete="off">
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-6 ui-md-3" style="margin-top: -18px">
                      <label for="WmtType" class="label-fontsize">WmtType</label>
                      <p-dropdown #wmt name="WmtType" [options]="wmtOptions" [(ngModel)]="WTCode"
                        (onClick)="onSelect('wmt', 'click')" (keyup.shift.tab)="onSelect('wmt', 'tab')"
                        (keyup.tab)="onSelect('wmt', 'tab')" [showClear]="true" [readonly]="isValidStackBalance"
                        filter="true" resetFilterOnHide="true" filterMatchMode="startsWith" optionLabel="label">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: 2px">
                      <span class="ui-float-label">
                        <input name="MoistureNo" type="text" minlength="1" maxlength="5" size="20"
                          [(ngModel)]="Moisture" pInputText autocomplete="off" (keyup)="parseMoisture($event)"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        <label for="MoistureNo" class="float-input">Moisture</label>
                      </span>
                    </div>
                    <div class="ui-g-4 ui-md-1 ui-fluid" style="margin-top: 2px">
                      <button pButton type="button" label="Enter"
                        [disabled]="(!Moisture || Moisture==null || !Scheme || !ICode || !IPCode || !GKgs || !NKgs || !TStockNo || !WTCode  || NoPacking==null || NKgs==null || GKgs==null  || (NKgs!=null && NKgs==0))"
                        (click)="onEnter()"></button>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="StackBal" tabindex="-1" [(ngModel)]="StackBalance" pInputText autocomplete="off"
                          [readonly]="true">
                        <label for="StackBal" class="float-input">Stack Balance</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="CurQtv" tabindex="-1" [(ngModel)]="CurrentDocQtv" pInputText autocomplete="off"
                          [readonly]="true">
                        <label for="CurQtv" class="float-input">Cur.Doc. Qtv</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="NetStackBal" tabindex="-1" [readonly]="true" [(ngModel)]="NetStackBalance"
                          pInputText autocomplete="off">
                        <label for="NetStackBal" class="float-input">Net Stack Balance</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid no-pad-top">
                    <p-table tabindex="-1" [columns]="itemCols" [value]="itemData" [responsive]="true"
                      [scrollable]="true" scrollHeight="180px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:115px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="deleteRow(rowData, rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-10 ui-md-10"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Prev (click)="openPrev()"></button>
                  </div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Next (click)="openNext()"></button>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Freight Details">
                <div class="ui-g-12 ui-fluid border-teal">
                  <div class="ui-g-12 no-pad-top" style="text-align: center">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="TName" [(ngModel)]="TransporterName" pInputText autocomplete="off" required>
                        <label for="TName" class="float-input" style="padding-top: 10px;">Transporter Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="LWBNo" [(ngModel)]="LWBillNo" pInputText autocomplete="off" required>
                        <label for="LWBNo" class="float-input" style="padding-top: 10px;">Lorry Way Bill No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-top: 8px;">
                      <label class="label-fontsize" style="display: flex;" for="WBillDate">Way Bill Date</label>
                      <p-calendar name="WBillDate" [(ngModel)]="LWBillDate" dateFormat="dd/mm/yy" [maxDate]="maxDate"
                        [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="FAmt" [(ngModel)]="FreightAmount" pInputText autocomplete="off" appDecimalAmount
                          required>
                        <label for="FAmt" class="float-input" style="padding-top: 10px;">Freight Amt</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-1">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="Kms" [(ngModel)]="Kilometers"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          pInputText autocomplete="off" required>
                        <label for="Kms" class="float-input" style="padding-top: 10px;">Kms</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-3">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="WHDeposit" [(ngModel)]="WHDNo"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          pInputText autocomplete="off" required>
                        <label for="WHDeposit" class="float-input" style="padding-top: 10px;">Warehouse Deposit
                          Receipt</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 no-pad-top" style="text-align: center">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="WmtCharges" [(ngModel)]="WCharges" pInputText autocomplete="off" appDecimalAmount
                          required>
                        <label for="WmtCharges" class="float-input" style="padding-top: 10px;">Wmt Charges</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="Handlingcharges" [(ngModel)]="HCharges" pInputText autocomplete="off"
                          appDecimalAmount required>
                        <label for="Handlingcharges" class="float-input" style="padding-top: 10px;">Handling
                          Charges</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="GReleased" pInputText [(ngModel)]="GunnyReleased"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off" required>
                        <label for="GReleased" class="float-input" style="padding-top: 10px;">Gunny
                          Released</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="GUtilised" pInputText [(ngModel)]="Gunnyutilised"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off" required>
                        <label for="GUtilised" class="float-input" style="padding-top: 10px;">Gunny Utilised</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Freight" class="label-fontsize" style="padding-top: 10px;">Freight Code</label>
                      <p-dropdown #fc name="Freight" [options]="freightOptions" [(ngModel)]="FCode"
                        (onClick)="onSelect('fc', 'click')" (keyup.shift.tab)="onSelect('fc', 'tab')"
                        (keyup.tab)="onSelect('fc', 'tab')" required>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Vehicle" class="label-fontsize" style="padding-top: 10px;">Vehicle Code</label>
                      <p-dropdown #vc name="Vehicle" [options]="vehicleOptions" [(ngModel)]="VCode"
                        (onClick)="onSelect('vc', 'click')" (keyup.shift.tab)="onSelect('vc', 'tab')"
                        (keyup.tab)="onSelect('vc', 'tab')" required>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top" style="padding-top: 0px; padding-bottom: 0px">
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="FromStation" class="label-fontsize" style="padding-top: 10px;">From Station</label>
                      <p-dropdown #fs name="FromStation" [options]="fromStationOptions" [(ngModel)]="FStation"
                        (onClick)="onSelect('fs', 'click')" (keyup.shift.tab)="onSelect('fs', 'tab')"
                        (keyup.tab)="onSelect('fs', 'tab')" filter="true" [disabled]="disableRailHead"
                        [showClear]="true" optionLabel="label" resetFilterOnHide="true" filterMatchMode="startsWith"
                        required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="ToStation" class="label-fontsize" style="padding-top: 10px;">To Station</label>
                      <p-dropdown #ts name="ToStation" [options]="toStationOptions" [(ngModel)]="TStation"
                        (onClick)="onSelect('ts', 'click')" (keyup.shift.tab)="onSelect('ts', 'tab')"
                        (keyup.tab)="onSelect('ts', 'tab')" [disabled]="disableRailHead" [showClear]="true"
                        filter="true" resetFilterOnHide="true" filterMatchMode="startsWith" optionLabel="label"
                        required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RR_No" [(ngModel)]="RRNo"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          pInputText autocomplete="off" [disabled]="disableRailHead" required>
                        <label for="RR_No" class="float-input" style="padding-top: 10px;">RR No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="WagonNo" pInputText [(ngModel)]="WNo"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off" [disabled]="disableRailHead" required>
                        <label for="WagonNo" class="float-input" style="padding-top: 10px;">Wagon No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RailFAmnt" pInputText [(ngModel)]="RailFreightAmt" autocomplete="off"
                          [disabled]="disableRailHead" appDecimalAmount required>
                        <label for="RailFAmnt" class="float-input" style="padding-top: 10px;">Rail Freight Amt</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-top: 10px;">
                      <label class="label-fontsize" for="LDate">Loading Date</label>
                      <p-calendar name="LDate" [disabled]="disableRailHead" [(ngModel)]="LDate" dateFormat="dd/mm/yy"
                        [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                  </div>
                  <div class="ui-g-12 no-pad-top">
                    <div class="ui-g-4">
                      <span class="ui-float-label">
                        <textarea pInputText name="RemarksText" [rows]="3" [cols]="60" [(ngModel)]="Remarks"
                          pInputTextarea required></textarea>
                        <label class="float-input" for="Remarks">Remarks</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2"></div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Prev (click)="openPrev()"></button></div>
                </div>
                <!-- </div> -->
              </p-tabPanel>
            </p-tabView>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button pButton style="margin-top:5px; margin-left: 10px" name="validate" type="button" label=Validate
                (click)="onSubmit(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button pButton style="margin-top:5px; margin-left: 10px" name="preview" type="button" label=Preview
                (click)="viewPreview(f)"></button>
            </div>
            <div class="ui-g-12 ui-md-6"></div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad" style="margin-left: -20px;">
              <button style="margin-top:5px" pButton type="button" label=View (click)="onView();resetForm(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button style="margin-top:5px" pButton type="button"
                [disabled]="(!f.valid || itemData.length=='0' || (isViewed && !f.dirty))" label=Save
                (click)="onSave('1');resetForm(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button style="margin-top:5px" pButton type="button" label=Print
                [disabled]="((isViewed && f.dirty) || (isViewed && !f.valid) || (!isViewed && !isSaveSucceed) || (!isViewed && f.dirty))"
                (click)="onPrint()"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button style="margin-top:5px" pButton type="button" label=Clear (click)="onClear()"></button>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>

      </div>
    </div>
  </p-panel>
</div>
<p-dialog header="Truck-Memo-Slip" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
  [(visible)]="viewPane" [responsive]="true">
  <div>
    <div class="ui-g-6 ui-md-10 no-pad-top">
      <label class="label-fontsize-large">Date</label>
      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [maxDate]="maxDate" [(ngModel)]="viewDate"
        (ngModelChange)="onView()"></p-calendar>
    </div>
    <div class="ui-g-4 ui-md-1 dashboard">
      <button class="ui-md-10 dashboard" pButton label=OK [disabled]="(!selected || selected==null)"
        (click)="getDocBySTNo()"></button>
    </div>
    <div class="ui-g-4 ui-md-1 dashboard">
      <button class="ui-md-10 dashboard" pButton label=Cancel (click)="viewPane = false"></button>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12 ui-fluid">
    <p-table #dt tabindex="-1" [columns]="truckMemoViewCol" [value]="truckMemoViewData" selectionMode="single"
      [responsive]="true" autoLayout="true" [(selection)]="selected" [rows]="10"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:80px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
<p-dialog header="Data Required" [modal]="true" [(visible)]="submitted" [style]="{width: 'auto', height: 'auto'}">
  <div>
    <p-listbox [options]="missingFields" [(ngModel)]="field" optionLabel="value"></p-listbox>
  </div>
</p-dialog>
<p-dialog header="Truck Memo Slip - Preview" [modal]="true" [(visible)]="showPreview"
  [contentStyle]="{'overflow':'scroll'}" [maximizable]="true" [style]="{width: '70vw', height: '70vw'}">
  <div class="ui-g-12 ui-md-12 border-blue card">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 no-pad-top" style="color: #18c5a9;text-decoration: underline;">Truck Details</div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Truck Date:</label>
        <!-- <input type="text" pInputText [(ngModel)]="PreSIDate"/> -->
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTDate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Movement Order No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreMONo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Movement Order Date:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreMODate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Transport Mode:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTransportMode}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Release Order No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRONo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Release Order Date:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRODate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Transaction:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTransaction}}</span>
      </div>
      <div *ngIf="!disableRailHead" class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> To Rail Head:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRailHead}}</span>
      </div>
      <div *ngIf="!enableReceivorRegn" class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Receiver Region:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRecRegion}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Receiver Type:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRecType}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Receiver Name:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRecName}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Lorry No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreLorryNo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Manual Doc No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreManualDocNo}}</span>
      </div>
    </div>
    <div *ngIf="(itemData.length!='0')" class="ui-g-12 ui-md-12 no-pad-top"
      style="color: #18c5a9;text-decoration: underline;">Item Details:</div>
    <div *ngIf="(itemData.length!='0')" class="ui-g-12 ui-fluid no-pad-top">
      <p-table tabindex="-1" [columns]="itemCols" [value]="itemData" [responsive]="true" [scrollable]="true"
        scrollHeight="180px">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width:115px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 no-pad-top" style="color: #18c5a9;text-decoration: underline;">Freight Details</div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Transporter Name:</label>
        <!-- <input type="text" pInputText [(ngModel)]="PreSIDate"/> -->
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTransporterName}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Lorry Way Bill No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreLWBNo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Lorry Way Bill Date:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreLWBDate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Freight Amount:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreFreightAmnt}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Kms:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreKms}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Warehouse Deposit Receipt:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreWDR}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Wmt Charges:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreWCharges}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Handling Charges:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreHCharges}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Gunny Released:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRGunny}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Gunny Utilised:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreUGunny}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Freight Code:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreFCode}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Vehicle Code:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreVCode}}</span>
      </div>
      <div *ngIf="!disableRailHead" class="ui-g-12 ui-md-12">
        <div class="ui-g-6 ui-md-4 label-fontsize-large">
          <label> From Station:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreFStation}}</span>
        </div>
        <div class="ui-g-6 ui-md-4 label-fontsize-large">
          <label> To Station:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreTStation}}</span>
        </div>
        <div class="ui-g-6 ui-md-4 label-fontsize-large">
          <label> RR No:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreRRNo}}</span>
        </div>
        <div class="ui-g-6 ui-md-4 label-fontsize-large">
          <label> Wagon No:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreWNo}}</span>
        </div>
        <div class="ui-g-6 ui-md-4 label-fontsize-large">
          <label> Rail Freight Amnt:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreRailFreightAmt}}</span>
        </div>
        <div class="ui-g-6 ui-md-4 label-fontsize-large">
          <label> Loading Date:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreLoadingDate}}</span>
        </div>
        <div class="ui-g-10 ui-md-10 label-fontsize-large">
          <label> Remarks:</label>
          <span style="color: #44a3ec;padding-left: 5px;">{{PreRemarks}}</span>
        </div>
      </div>
    </div>
  </div>
</p-dialog>