<p-blockUI [blocked]="blockScreen">
  <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
</p-blockUI>
<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Quotation Details</div>
      </div>
    </p-header>
    <div class="ui-g ui-fluid">
      <p-toast position="top-center" key="t-err" [modal]="true"></p-toast>
      <div class="ui-g-12 dashboard">
        <div class="ui-g-12 ui-md-12" style="border: 1px solid #18c5a9">
          <form #f="ngForm" name="QuotationForm">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-6 ui-md-6 ui-lg-2">
                <label for="region" class="ui-g-7 label-fontsize dashboard">Region</label>
                <p-dropdown #region name="region" class="ui-g-12 ui-fluid dashboard" [options]="regionOptions" [(ngModel)]="rcode"
                 (onClick)="onSelect('reg', 'click')" (keydown.enter)="onSelect('reg', 'enter')" 
                 (ngModelChange)="onResetField('R')" filter="true" resetFilterOnHide="true"
                  [showClear]="true" filterMatchMode="startsWith" placeholder="-select-"
                  optionLabel="label">
                </p-dropdown>
              </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2">
              <label for="godown" class="ui-g-7 label-fontsize dashboard">Godown</label>
              <p-dropdown #godown name="godown" class="ui-g-12 ui-fluid dashboard" [options]="godownOptions" [(ngModel)]="gcode"
              (onClick)="onSelect('gd', 'click')" (keydown.enter)="onSelect('gd', 'enter')" filter="true"
                resetFilterOnHide="true" [showClear]="true" filterMatchMode="startsWith" placeholder="-select-"
                optionLabel="label">
              </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2">
              <label for="product" class="ui-g-7 label-fontsize dashboard">Product</label>
              <p-multiSelect #product name="product" class="ui-g-12 ui-fluid dashboard" [options]="productOptions" [(ngModel)]="pcode"
              (onClick)="onSelect('pd', 'click')" (keydown.enter)="onSelect('pd', 'enter')" filter="true"
               optionLabel="label"  resetFilterOnHide="true" filterMatchMode="startsWith" defaultLabel="-select-">
              </p-multiSelect>
            </div>
            <div *ngIf="isOtherProductSelected" class="ui-g-6 ui-md-6 ui-lg-2" style="margin-top: 15px;">
              <span class="ui-float-label">
                <input name="new_pname" [(ngModel)]="productNew" type="text" pInputText
                  autocomplete="off" required>
                <label for="new_pname" class="float-input">Product Name</label>
              </span>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2" style="margin-top: 15px;">
              <span class="ui-float-label">
                <input name="e_id" [(ngModel)]="emailId" type="email" pInputText
                  autocomplete="off" email="true" required>
                <label for="e_id" class="float-input">Email Id</label>
              </span>
            </div>
            <div class="ui-g-6 ui-md-4 ui-lg-2" style="margin-top: 15px;">
              <span class="ui-float-label">
                <input name="ph_no" [(ngModel)]="phoneNo" type="tel" pInputText
                  autocomplete="off" required>
                <label for="ph_no" class="float-input">Phone Number</label>
              </span>
            </div>
             <div class="ui-g-12 ui-fluid no-left-pad" style="padding-top: 5px;">
              <div class="ui-g-12 ui-md-6 ui-lg-4">
              <span class="ui-float-label">
                <textarea name="remarksText" rows="3" cols="50" minlength="1" maxlength="150"
                  [(ngModel)]="remarks" pInputText autocomplete="off" pInputTextarea required></textarea>
                <label for="remarksText" class="float-input">Remarks</label>
              </span>
            </div>
             </div> 
            <div class="ui-g-12 ui-fluid dashboard">
              <div class="ui-g-5"></div>
              <div class="ui-g-2 ui-md-1">
              <button class="ui-g-6 ui-md-1 dashboard" name="save" type="submit" pButton
                label=Save [disabled]="!f.valid" (click)="onSave()"></button></div>
                <div class="ui-g-2 ui-md-1">
                  <button class="ui-g-6 ui-md-1 dashboard" name="clear" type="button" pButton
                    label=Clear (click)="onClear()"></button></div>
          </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
  </p-panel>
</div>





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































