<p-blockUI [blocked]="blockScreen">
  <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
</p-blockUI>
<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Service Provider Entry</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err" (onClose)="onClose()" [modal]="true"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-1"></div>
      <div class="ui-g-6 ui-md-2">
        <label class="ui-g-12 label-fontsize dashboard">Region</label>
        <p-dropdown #region class="ui-fluid dashboard" [options]="regionOptions" [(ngModel)]="RCode"
          (onClick)="onSelect('reg', 'click')" (keyup.shift.tab)="onSelect('reg', 'tab')" [showClear]="true"
          (ngModelChange)="onResetTable('reg')" filter="true" resetFilterOnHide="true"
          (keyup.tab)="onSelect('reg', 'tab')" filterMatchMode="startsWith" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-6 ui-md-2">
        <label class="ui-g-12 label-fontsize dashboard">Godown</label>
        <p-dropdown #godown class="ui-fluid dashboard" [options]="godownOptions" [(ngModel)]="GCode"
          (onClick)="onSelect('gd', 'click')" (keyup.shift.tab)="onSelect('gd', 'tab')"
          (ngModelChange)="onResetTable('gd')" filter="true" resetFilterOnHide="true" [showClear]="true"
          (keyup.tab)="onSelect('gd', 'tab')" filterMatchMode="startsWith" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <!-- <div class="ui-g-6 ui-md-1">
        <label class="ui-g-12 label-fontsize dashboard" for="Month">Month</label>
        <p-inputMask mask="99" [(ngModel)]="Month" slotChar="__"></p-inputMask>
      </div>
      <div class="ui-g-6 ui-md-1">
        <label class="ui-g-12 label-fontsize dashboard" for="Year">Year</label>
        <p-inputMask mask="9999" [(ngModel)]="Year" slotChar="____"></p-inputMask>
      </div> -->

      <div class="ui-g-6 ui-md-1 ui-fluid">
        <label for="PeriodOfMonth" class="ui-g-12 label-fontsize dashboard" for="Month">Month</label>
        <p-dropdown #m="ngModel" name="PeriodOfMonth" [options]="monthOptions" [(ngModel)]="Month"
          (onClick)="onSelect('m', 'click')" (keyup.shift.tab)="onSelect('m', 'tab')"
          (ngModelChange)="onResetTable('m')" filter="true" resetFilterOnHide="true" optionLabel="label"
          (keyup.tab)="onSelect('m', 'tab')" filterMatchMode="startsWith" required>
        </p-dropdown>
      </div>
      <div class="ui-g-6 ui-md-1 ui-fluid">
        <label for="PeriodOfYear" class="ui-g-12 label-fontsize dashboard" for="Year">Year</label>
        <p-dropdown #y="ngModel" name="PeriodOfYear" [options]="yearOptions" [(ngModel)]="Year"
          (onClick)="onSelect('Yr', 'click')" (keyup.shift.tab)="onSelect('Yr', 'tab')"
          (keyup.tab)="onSelect('Yr', 'tab')" (ngModelChange)="onResetTable('Yr')" required>
        </p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-2">
        <label class="ui-g-12 label-fontsize dashboard">Accounting Year</label>
        <p-dropdown #accountingYear class="ui-g-12 ui-fluid dashboard" [options]="YearOptions"
          [(ngModel)]="AccountingYear" [showClear]="true" (onClick)="onSelect('y','click')"
          (keyup.shift.tab)="onSelect('y','tab')" (ngModelChange)="onResetTable('y')" (keyup.tab)="onSelect('y','tab')"
          placeholder="-select-" filter="true" resetFilterOnHide="true" filterMatchMode="startsWith"
          optionLabel="label">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-6 ui-md-1 ui-fluid" style="padding-top: 22px">
        <button pButton type="button" (click)="onView()" style="padding: 1px;"
          [disabled]="(!RCode || !GCode || !AccountingYear || !Month || !Year)" label=View></button>
      </div>
      <div class="ui-g-6 ui-md-1 ui-fluid" style="padding-top: 22px">
        <button pButton type="button" icon="pi pi-plus" label=Add (click)="OnEdit = true;onClear()"
          [disabled]="(!RCode || !GCode || !AccountingYear || !Month || !Year)"></button>
      </div>
      <div class="ui-g-12 ui-md-1"></div>
      <div class="ui-g-12"></div>


      <div *ngIf="OnEdit" class="ui-g-12" style="border: 1px solid #18c5a9">
        <div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-5"></div>
            <div class="ui-g-12 ui-md-3">Service Provider Entry</div>
            <div class="ui-g-12 ui-md-5"></div>
          </div>
          <form #ServiceForm="ngForm" (ngSubmit)="onSubmit(formUser)">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-1 label-fontsize" style="text-align: end; padding-top: 25px;">
                <button pButton type="button" icon="fa fa-bars" label="Party Name" [disabled]="disableOkButton"
                  (click)="onCompany()"></button>
              </div>
              <div class="ui-g-12 ui-md-3">
                <label class="ui-g-10 label-fontsize dashboard" for="Party">Company Name</label>
                <p-dropdown #party name="Party" class="ui-g-12 ui-fluid dashboard" [options]="companyOptions"
                  [(ngModel)]="Party" (onClick)="onSelect('company','click')" [virtualScroll]="true" [itemSize]="31"
                  (keyup.shift.tab)="onSelect('company', 'tab')" (ngModelChange)="onResetTable('company')"
                  [showClear]="true" filter="true" optionLabel="label" [disabled]="onDrop"
                  (keyup.tab)="onSelect('company', 'tab')" filterMatchMode="startsWith" resetFilterOnHide="true" (onChange)="onGST()" required >
                  <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle">{{item.label}}</span>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="ui-g-4 dashboard" style="padding-top: 11px">
                <div class="ui-g-4 ui-md-3">
                  <div class="ui-float-label">
                    <input class="icon2" type="text" size="30" pInputText [(ngModel)]="State" name="State"
                      autocomplete="off" maxlength="2" readonly="true" [disabled]="onDrop" required > 
                    <label for="State">State Code</label>
                  </div>
                </div>
                <div class="ui-g-4 ui-md-6">
                  <div class="ui-float-label">
                    <input class="icon2" type="text" size="30" pInputText [(ngModel)]="Pan" name="Pan"
                      autocomplete="off" maxlength="10" readonly="true" [disabled]="onDrop" required>
                    <label for="Pan">PAN</label>
                  </div>
                </div>
                <div class="ui-g-4 ui-md-3">
                  <div class="ui-float-label">
                    <input class="icon2" type="text" size="30" pInputText pTooltip="Last 3 Digits" tooltipEvent="focus"
                      tooltipPosition="bottom" [(ngModel)]="Gst" name="Gst" autocomplete="off" [disabled]="onDrop"
                      maxlength="3" readonly="true" required>
                    <label for="Gst">GST</label>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-3" style="padding-top: 26px">
                <a>GSTNo - {{State + Pan + Gst}}</a>
              </div>
              <div class="ui-g-12 ui-md-1"></div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-1"></div>
              <div class="ui-g-12 ui-md-3">
                <label class="ui-g-10 label-fontsize dashboard" for="TaxType">Tax Type</label>
                <p-dropdown #tax name="TaxType" class="ui-g-12 ui-fluid dashboard" [options]="TaxtypeOptions"
                  [(ngModel)]="TaxType" (onClick)="onSelect('tax', 'click')" (keyup.shift.tab)="onSelect('tax','tab')"
                  [showClear]="true" filter="true" filterMatchMode="startsWith" (keyup.tab)="onSelect('tax','tab')" (onChange)="onGST()" required 
                  resetFilterOnHide="true">
                  <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle">{{item.label}}</span>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="ui-g-12 ui-md-3" style="padding-top: 20px">
                <div class="ui-float-label">
                  <input class="icon2" type="text" size="30" pInputText [(ngModel)]="Bill" name="Bill"
                    autocomplete="off" required>
                  <label for="Bill">Bill No</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-3">
                <div class="ui-g">
                  <label class="ui-g-10 label-fontsize dashboard" for="Billdate">Bill Date</label>
                  <p-calendar class="ui-g-12 ui-fluid dashboard" [showIcon]="true" dateFormat="mm/dd/yy"
                    [maxDate]="maxDate" name="Billdate" [(ngModel)]="Billdate" required>
                  </p-calendar>
                </div>
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-1"></div>
              <div class="ui-g-12 ui-md-3">
                <label class="ui-g-10 label-fontsize dashboard" for="Commodity">Service Name</label>
                <p-dropdown #commodity name="Commodity" class="ui-g-12 ui-fluid dashboard" [options]="commodityOptions"
                  [(ngModel)]="Commodity" (onClick)="onSelect('commodity','click')"
                  (keyup.shift.tab)="onSelect('commodity','tab')" optionLabel="label" [showClear]="true" filter="true"
                  (keyup.tab)="onSelect('commodity','tab')" filterMatchMode="startsWith" resetFilterOnHide="true" (onChange)="onGST()" required>
                  <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle">{{item.label}}</span>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="ui-g-12 ui-md-3" style="padding-top: 20px">
                <div class="ui-float-label">
                  <input class="icon2" type="text" size="30" pInputText [(ngModel)]="percentage" name="percentage"
                    autocomplete="off" (input)="onGST()" required  >
                  <label for="percentage">GST %</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-3" style="padding-top: 20px">
                <div class="ui-float-label">
                  <input class="icon2" type="text" size="30" pInputText [(ngModel)]="Amount" name="Amount"
                    autocomplete="off" (input)="onGST()" required>
                  <label for="Amount">Amount(Exclusive of GST)</label>
                </div>
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-1"></div>
              <div class="ui-g-12 ui-md-2">
                <div class="ui-float-label">
                  <input class="icon2" type="number" size="30" pInputText [(ngModel)]="CGST" name="CGST"
                    autocomplete="off" (input)="onGST()" readonly="true" required>
                  <label for="CGST">CGST Amount</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-2">
                <div class="ui-float-label">
                  <input class="icon2" type="number" size="30" pInputText [(ngModel)]="SGST" name="SGST"
                    autocomplete="off" (input)="onGST()" readonly="true" required>
                  <label for="SGST">SGST Amount</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-2">
                <div class="ui-float-label">
                  <input class="icon2" type="number" size="30" pInputText [(ngModel)]="IGST" name="IGST"
                    autocomplete="off" (input)="onGST()" readonly="true" required>
                  <label for="IGST">IGST Amount</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-3">
                <div class="ui-float-label">
                  <input class="icon2" type="number" size="30" pInputText [(ngModel)]="Vat" name="Vat"
                    autocomplete="off" (input)="onGST()" readonly="true" required>
                  <label for="Vat">GST Amount</label>
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-4"></div>
              <div class="ui-g-12 ui-md-3">
                <div class="ui-float-label">
                  <input class="icon2" type="number" size="30" pInputText [(ngModel)]="Total" name="Total"
                    autocomplete="off" (input)="onGST()" readonly="true" required>
                  <label for="Total">Total</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-2 dashboard" style="padding-top: 3px;">
                <div class="ui-g-4 ui-md-6 ui-fluid">
                  <button pButton type="button" (click)="onSubmit(formUser)"
                    [disabled]="(!RCode || !GCode || !AccountingYear || !Month || !Year || !Commodity || !Party || !TaxType || !Amount || !Bill || !Billdate || !Total)"
                    label=Save></button>
                </div>
                <div class="ui-g-4 ui-md-6 ui-fluid">
                  <button pButton type="button" (click)="onClear()" label=Clear></button>
                </div>
                <div class="ui-g-4 ui-md-6 ui-fluid">
                  <button pButton type="button" (click)="onDelete()" label=Delete></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </p-panel>
</div>

<p-dialog header="Service Provider Entry" [contentStyle]="{'overflow':'scroll', 'width':'1350px'}" [modal]="true"
  [maximizable]="true" [(visible)]="viewPane" [responsive]="true">
  <div class="ui-g-12 ui-md-11 dashboard" style="text-align: end !important;">
    <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText placeholder="Search by GST"
      (ngModelChange)="onSearch($event)">
    <button class="inline-padding" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button>
  </div>
  <div class="ui-g-6 ui-md-1 ui-fluid" style="padding: 1px;">
    <!-- <button pButton type="button" label=Excel (click)="table.exportCSV()"></button> -->
  </div>
  <div *ngIf="ServiceTaxData" class="ui-g-12 ui-fluid">
    <p-table #table [columns]="ServiceTaxCols" [value]="ServiceTaxData" [rows]="20"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single" [responsive]="true" autoLayout="true"
      [paginator]="true" [loading]="loading">
      <ng-template pTemplate="header" let-columns>
        <tr style="text-align: center;">
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
          <td *ngFor="let col of columns">
            <div
              *ngIf="col.field === 'Amount' || col.field === 'TaxPercentage' || col.field === 'CGST' || col.field === 'SGST' || col.field === 'TaxAmount' || col.field === 'Total'">
              <div style="text-align: end !important">
                {{rowData[col.field]}}
              </div>
            </div>
            <div
              *ngIf="col.field !== 'Amount' && col.field !== 'TaxPercentage' && col.field !== 'CGST' && col.field !== 'SGST' && col.field !== 'TaxAmount' && col.field !== 'Total'">
              {{rowData[col.field]}}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>


<p-dialog header="Party Ledger Master" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
  [(visible)]="isViewed" [responsive]="true">
  <div class="ui-g-12 ui-md-12 dashboard" style="text-align: end !important;">
    <input class="search-masters" type="text" [(ngModel)]="searchParty" pInputText placeholder="Search by Party, GSTNO"
      (ngModelChange)="onSearchParty($event)">
    <button class="inline-padding" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button>
  </div>
  <div class="ui-g-12 ui-fluid">
    <p-table #pm [columns]="CompanyTitleCols" [value]="CompanyTitleData" [rows]="20"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single" [responsive]="true" autoLayout="true"
      [paginator]="true" [loading]="loading">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:80px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="onRow($event, rowData)">
          <td *ngFor="let col of columns">
            <div *ngIf="col.field === 'PartyID' || col.field === 'StateCode'">
              <div style="text-align: end !important">
                {{rowData[col.field]}}
              </div>
            </div>
            <div *ngIf="col.field !== 'PartyID' && col.field !== 'StateCode'">
              {{rowData[col.field]}}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>