<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
    <app-menu *ngIf="canShowMenu"></app-menu>
    <p-panel>
        <p-header>
            <div class="ui-g panel-header">
                <div class="ui-g-12 ui-md-12 dashboard" style="text-align: center;">Head Office Quantity Account
                    Free Issues</div>
            </div>
        </p-header>
        <div class="ui-g">
            <p-toast position="top-center" (onClose)="onClose()" [modal]="true" key="t-err"></p-toast>
            <div class="ui-g-1"></div>
            <div class="ui-g-12 ui-md-2">
                <label class="ui-g-7 label-fontsize dashboard" for="rcode">Region</label>
                <p-dropdown #region class="ui-g-12 ui-fluid dashboard" [options]="regionOptions" [(ngModel)]="RCode"
                    (onClick)="onSelect('reg', 'click')" name="rcode" (keydown.enter)="onSelect('reg', 'enter')"
                    filter="true" resetFilterOnHide="true" [showClear]="true" filterMatchMode="startsWith"
                    placeholder="-select-">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label class="ui-g-7 label-fontsize dashboard" for="loc">Field Point</label>
                <p-dropdown #loaction class="ui-g-12 ui-fluid dashboard" name="loc" [options]="locationOptions"
                    [(ngModel)]="Location" (onClick)="onSelect('lc', 'click')" filter="true" [showClear]="true"
                    placeholder="-select-" optionLabel="label" filterMatchMode="startsWith" resetFilterOnHide="true"
                    (keydown.enter)="onSelect('lc', 'enter')">
                </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-2">
                <label class="ui-g-7 label-fontsize dashboard" for="itcode">Commodity</label>
                <p-dropdown #commodity class="ui-g-12 ui-fluid dashboard" [options]="commodityOptions"
                    [(ngModel)]="ITCode" (onClick)="onSelect('cd', 'click')" (keydown.enter)="onSelect('cd', 'enter')"
                    filter="true" filterMatchMode="startsWith" resetFilterOnHide="true" optionLabel="label"
                    [showClear]="true" name="itcode" placeholder="-select-">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-2">
                <label class="ui-g-7 label-fontsize dashboard">Select Month/Year</label>
                <p-calendar class="ui-g-12 ui-fluid dashboard" [(ngModel)]="FromDate" view="month"
                    [yearNavigator]="true" yearRange={{yearRange}} inputId="monthpicker" dateFormat="mm/yy">
                </p-calendar>
            </div>

            <div class="ui-g-12 ui-md-1 dashboard ">
                <button class="ui-g-9 dashboard inline-margin" pButton type="button" label=View (click)="onView()"
                    style="margin-top: 20%;" [disabled]="(!FromDate ||  !ITCode || !Location || !RCode)"></button>
            </div>
            <div class="ui-g-12 ui-md-2 dashboard ">

            </div>
        </div>
        <form #f="ngForm" name="hoqtyFreeissueForm">
            <p-panel>
                <p-header>
                    <div class="ui-g panel-header">
                        <div class="ui-g-12 ui-md-4 dashboard">Free Issues Entry</div>
                    </div>
                </p-header>

                <div class="ui-g">
                    <div class="ui-g-12 ui-md-1"></div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="NMP" name="nmp_value"
                                autocomplete="off" required>
                            <label for="nmp_value">NMP</label>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="SGRY" name="sgry_value"
                                autocomplete="off" required>
                            <label for="sgry_value">SGRY</label>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="Annapoorna"
                                name="annapoorna_value" autocomplete="off" required>
                            <label for="annapoorna_value">Annapoorna</label>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="PmgkyAAY"
                                name="pmgky_aay_value" autocomplete="off" required>
                            <label for="pmgky_aay_value">PMGKY AAY</label>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="PmgkyPriority"
                                name="pmgky_priority_value" autocomplete="off" required>
                            <label for="pmgky_priority_value">PMGKY Priority</label>
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-1"></div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="ANB" name="anb_value"
                                autocomplete="off" required>
                            <label for="anb_value">ANB</label>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="FortifiedKernels"
                                name="fortified_kernels_value" autocomplete="off" required>
                            <label for="fortified_kernels_value">Fortified Kernels</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-float-label">
                            <input class="icon2" type="text" size="30" pInputText [(ngModel)]="TotalFreeRice"
                                name="total_free_rice_value" autocomplete="off" readonly="true" required
                                style="background-color: rgb(223, 217, 238);">
                            <label for="total_free_rice_value">Total Free Rice</label>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-1"></div>
                </div>
            </p-panel>
        </form>
        <div class="ui-g panel-header">
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-5"></div>
                <div class="ui-g-12 ui-md-1 dashboard">
                    <button class="ui-g-9 dashboard inline-margin" pButton type="button" label=Save (click)="onSave()"
                        [disabled]="(!FromDate || !ITCode || !Location  || !RCode ||!f.valid || !f.dirty)">
                    </button>
                </div>
                <div class="ui-g-12 ui-md-1 dashboard">
                    <button class="ui-g-9 dashboard inline-margin" pButton type="button" label=Clear
                        (click)="onClear(1)" [disabled]="(!FromDate || !ITCode || !Location || !RCode)"></button>
                </div>
            </div>
        </div>


    </p-panel>
</div>