<!-- <app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 card content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">DETAILS OF OPENING BALANCE OF ALL STOCKS</div>
      </div>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-2 ui-fluid" style="padding-top: 27px" >
        <span class="ui-float-label">
            <p-dropdown id="float-input" [options]="godownOptions" [(ngModel)]="g_cd" (click)="onSelect()" (ngModelChange)="onResetTable()"></p-dropdown>
            <label class="float-input">Godown</label>
          </span>
        </div>
        <div class="ui-g-2" style="padding-top: 27px">
            <span class="ui-float-label">
                <p-dropdown id="float-input" [options]="godownOptions" [(ngModel)]="g_cd" (click)="onSelect()" (ngModelChange)="onResetTable()"></p-dropdown>
                <label class="float-input">Commodity</label>
              </span>
            </div>
            <div class="ui-g-2 dashboard">
                <p-calendar [(ngModel)]="date3" [showIcon]="true" placeholder="Date"></p-calendar>
              </div>
            <div class="ui-g-2" style="text-align: center">
                <label class="ui-g-6 dashboard">Date</label>
                <p-calendar class="ui-g-8 ui-fluid dashboard" [(ngModel)]="fromDate" [showIcon]="true"  [maxDate]="maxDate" dateFormat="dd/mm/yy" (ngModelChange)="onDateSelect()"></p-calendar>
              </div>
              <div class="ui-g-2"></div>
              <div class="ui-g-2"></div>
            <div class="ui-g-2 ui-fluid" style="text-align: center">
              <p-header>
                <div class="dashboard" style="text-align: center">
                 Book Balance
                </div>
              </p-header><br>
              <div class="ui-g-4">
                  <span class="ui-float-label">
                    <input id="float-input" pInputText autocomplete="off">
                    <label class="float-input">Bags</label>
                  </span>
                </div>
                <div class="ui-g-8">
                    <span class="ui-float-label">
                      <input id="float-input" pInputText autocomplete="off">
                      <label class="float-input">Weight (Kgs)</label>
                    </span>
                  </div>
          </div>
          <div class="ui-g-2 ui-fluid" style="text-align: center">
              <p-header>
                <div class="dashboard" style="text-align: center">
                 Physical Balance
                </div>
              </p-header><br>
              <div class="ui-g-4">
                  <span class="ui-float-label">
                    <input id="float-input" pInputText autocomplete="off">
                    <label class="float-input">Bags</label>
                  </span>
                </div>
                <div class="ui-g-8">
                    <span class="ui-float-label">
                      <input id="float-input" pInputText autocomplete="off">
                      <label class="float-input">Weight (Kgs)</label>
                    </span>
                  </div>
          </div>
          <div class="ui-g-2 ui-fluid" style="padding-top: 55px">
              <span class="ui-float-label">
                <input id="float-input" pInputText autocomplete="off">
                <label class="float-input">Cumulitive Shortage</label>
              </span>
            </div>
            <div class="ui-g-2" style="padding-top: 55px">
              <span class="ui-float-label">
                <input id="float-input" pInputText autocomplete="off">
                <label class="float-input">Excess</label>
              </span>
            </div>
    <div class="ui-g-5">
    <p-fieldset legend="Stackwise Details">
        <div class="ui-g-3">
            <span class="ui-float-label">
              <input id="float-input" pInputText autocomplete="off">
              <label class="float-input">StackNo</label>
            </span>
          </div>
          <div class="ui-g-2">
              <span class="ui-float-label">
                <input id="float-input" pInputText autocomplete="off">
                <label class="float-input">Bags</label>
              </span>
            </div>
            <div class="ui-g-3">
                <span class="ui-float-label">
                  <input id="float-input" pInputText autocomplete="off">
                  <label class="float-input">Weight (Kgs)</label>
                </span>
              </div>
              <div class="ui-g-2 ui-fluid" style="float: right;">
                  <button pButton type="button" label="Enter"></button>
                </div>
    </p-fieldset>
  </div>
  <div class="ui-g-7">
      <p-fieldset legend="Stackwise Details">
          <div class="ui-g-3">
              <span class="ui-float-label">
                <input id="float-input" pInputText autocomplete="off">
                <label class="float-input">StackNo</label>
              </span>
            </div>
            <div class="ui-g-2">
                <span class="ui-float-label">
                  <input id="float-input" pInputText autocomplete="off">
                  <label class="float-input">Bags</label>
                </span>
              </div>
              <div class="ui-g-3">
                  <span class="ui-float-label">
                    <input id="float-input" pInputText autocomplete="off">
                    <label class="float-input">Weight (Kgs)</label>
                  </span>
                </div>
                <div class="ui-g-3">
                    <span class="ui-float-label">
                        <p-dropdown id="float-input"></p-dropdown>
                        <label class="float-input">Godown</label>
                      </span>
                </div>
                <div class="ui-g-1 ui-fluid">
                    <button pButton type="button" label="Enter"></button>
                  </div>
      </p-fieldset>
    </div>
    <div class="ui-g-5"> 
        <p-table [columns]="StackWiseCols" [value]="StackWiseData" autoLayout="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-7"> 
          <p-table [columns]="SchemeWiseCols" [value]="SchemeWiseData" autoLayout="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
    <div class="ui-g-1 ui-fluid" style="padding-top: 26px;float: right">
                <button pButton type="button" label=View (click)="onView()" [disabled]="isViewDisabled"></button>
              </div>
              <div class="ui-g-1 ui-fluid" style="padding-top: 26px;float: right">
                <button pButton type="button" label=Print (click)="onPrint()" [disabled]="isActionDisabled"></button>
              </div>
              <div class="ui-g-1 ui-fluid" style="padding-top: 26px;float: right">
                <button pButton type="button" label=Excel (click)="onExportExcel()" [disabled]="isActionDisabled"></button>
              </div>
    </div>
  </p-panel>
    </div> -->
