<p-blockUI [blocked]="blockScreen">
  <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
</p-blockUI>
<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Stock Receipt Slip</div>
      </div>
    </p-header>
    <p-toast (onClose)="onClose()" position="top-center" key="t-err" [modal]="true"></p-toast>
    <form #f="ngForm" name="receiptForm">
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div id="tabs" #tabs class="col-md-10">
            <p-tabView [activeIndex]="index">
              <p-tabPanel header="Receipt Details">
                <div class="ui-g-12 ui-fluid border-teal">
                  <div class="ui-g-12 ui-md-4 ui-fluid">
                    <p-card>
                      <p-header>
                        <div class="label-fontsize-large dashboard" style="text-align: center">
                          STOCK RECEIPT ACKNOWLEDGEMENT
                        </div>
                      </p-header>
                      <div class="ui-g ui-md-12 ui-fluid  dashboard">
                        <div class="ui-g-12 ui-md-6" style="margin-top: -20px">
                          <label for="receiptNo" class="label-fontsize">No</label>
                          <input name="receiptNo" type="text" size="15" pInputText [(ngModel)]="SRNo" autocomplete="off"
                            [readOnly]="true">
                        </div>
                        <div class="ui-g-12 ui-md-6" style="margin-top: -20px">
                          <label for="StockDate" class="label-fontsize">Date</label>
                          <p-calendar name="StockDate" #receiptDate="ngModel" [showIcon]="true" dateFormat="dd/mm/yy"
                            [maxDate]="maxDate" [(ngModel)]="SRDate" (ngModelChange)="onSRDateChange()" required>
                          </p-calendar>
                        </div>
                      </div>
                    </p-card>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-fluid" style="text-align: center">
                    <div class="dashboard label-fontsize-large">
                      Period of Allotment
                    </div>
                    <br>
                    <div class="ui-g-12 ui-md-6 ui-fluid" style="margin-top: -20px">
                      <label for="PeriodOfMonth" class="label-fontsize">Month</label>
                      <!-- <input name="Month" [(ngModel)]="month" pInputText autocomplete="off" [readonly]="true" required> -->
                      <p-dropdown #m name="PeriodOfMonth" [options]="monthOptions" [(ngModel)]="month"
                        (onClick)="onSelect('m', 'click')" filter="true" resetFilterOnHide="true" optionLabel="label"
                        filterMatchMode="startsWith" required>
                        <!-- <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>  -->
                      </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid" style="margin-top: -20px">
                      <label for="PeriodOfYear" class="label-fontsize">Year</label>
                      <p-dropdown #y name="PeriodOfYear" [options]="yearOptions" [(ngModel)]="year"
                        (onClick)="onSelect('y', 'click')" (keyup.shift.tab)="onSelect('y', 'tab')"
                        (keyup.tab)="onSelect('y', 'tab')" required>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="text-align: center;padding-top: 15px;">
                    <div class="ui-g-12 dashboard label-fontsize-large">
                      Allotment/Release Order No
                    </div><br>
                    <div class="ui-g-12 ui-fluid">
                      <input #ordNo="ngModel" name="AllotmentOrderNo" type="text" size="20" [(ngModel)]="OrderNo"
                        maxlength="20" pInputText autocomplete="off" required>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-fluid" style="padding-top: 15px;">
                    <label for="AllotmentOrderDate" class=" label-fontsize-large"
                      style="padding-left: 10px">Allotment/Release Order
                      Date</label><br>
                    <div class="ui-g-12 ui-fluid">
                      <p-calendar name="AllotmentOrderDate" class="ui-g-12" dateFormat="dd/mm/yy"
                        [(ngModel)]="OrderDate" [maxDate]="maxDate" maxlength="20" [showIcon]="true">
                      </p-calendar>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="Region" type="text" size="20" pInputText autocomplete="off"
                          [(ngModel)]="regionName" [readOnly]="true">
                        <label for="Region" class="float-input">Region Name</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="Godown" type="text" size="20" pInputText autocomplete="off"
                          [(ngModel)]="godownName" [readOnly]="true">
                        <label for="Godown" class="float-input">Receiving Godown</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                      <label for="TransportMode" class="ui-g-3 ui-fluid label-fontsize">Road</label>
                      <p-checkbox class="ui-g-3" name="TransportMode" value="Road" [(ngModel)]="selectedValues"
                        required>
                      </p-checkbox>
                      <label for="TransportMode" class="ui-g-4 label-fontsize no-left-pad"
                        style="margin-left: -5px">RailHead</label>
                      <p-checkbox class="ui-g-2" name="TransportMode" value="Rail" [(ngModel)]="selectedValues"
                        required>
                      </p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-2" style="margin-top: -18px">
                      <label for="Transaction" class="label-fontsize">Transaction Code</label>
                      <p-dropdown #tr name="Transaction" [options]="transactionOptions" [(ngModel)]="Trcode"
                        (onClick)="onSelect('tr', 'click')" (keyup.shift.tab)="onSelect('tr', 'tab')"
                        (keyup.tab)="onSelect('tr', 'tab')" (onChange)="refreshSelect('tr')" [filter]="true"
                        optionLabel="label" resetFilterOnHide="true" filterMatchMode="startsWith" [showClear]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2" style="margin-top: -18px">
                      <label for="Depositortype" class="label-fontsize">Depositor Type</label>
                      <p-dropdown #dt name="Depositortype" [options]="depositorTypeOptions" [(ngModel)]="DepositorType"
                        (onClick)="onSelect('dt', 'click')" (keyup.shift.tab)="onSelect('dt', 'tab')"
                        (keyup.tab)="onSelect('dt', 'tab')" (onChange)="refreshSelect('dt')" filter="true"
                        optionLabel="label" resetFilterOnHide="true" filterMatchMode="startsWith" [showClear]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <!-- <div *ngIf="isViewClicked" class="ui-g-12 ui-md-2" style="margin-top: -18px">
                      <label class="label-fontsize">Depositor Type</label>
                      <input pInputText [(ngModel)]="depositorType" (click)="onSelect('dt')"/>
                  </div> -->
                    <div class="ui-g-12 ui-md-2" style="margin-top: -18px">
                      <label for="DepositorName" class="label-fontsize">Depositor Name</label>
                      <p-dropdown #dn name="DepositorName" [options]="depositorNameOptions" [(ngModel)]="DepositorCode"
                        (onClick)="onSelect('dn', 'click')" (keyup.shift.tab)="onSelect('dn', 'tab')"
                        (keyup.tab)="onSelect('dn', 'tab')" filter="true" filterMatchMode="startsWith"
                        resetFilterOnHide="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="TruckNo" type="text" size="20" maxlength="20" [(ngModel)]="TruckMemoNo" pInputText
                          autocomplete="off" required>
                        <label for="TruckNo" class="float-input">Truck Memo No</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -18px;">
                      <label for="TruckDate" class="label-fontsize">Truck Memo Date</label>
                      <p-calendar name="TruckDate" [(ngModel)]="TruckMemoDate" dateFormat="dd/mm/yy" [maxDate]="maxDate"
                        [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="VehicleNo" type="text" maxlength="12" size="10" [(ngModel)]="LNo" pInputText
                          autocomplete="off" style="text-transform: uppercase !important" oninput="this.value = this.value.replace(/[^0-9A-Za-z]/g, '');
                          this.value = this.value.replace(/(\..*)\./g, '$1');this.value = this.value.trim()" required>
                        <label for="VehicleNo" class="float-input">Vehicle No</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-fluid">
                      <span class="ui-float-label">
                        <input name="LorryFrom" type="text" size="25" maxlength="50" [(ngModel)]="LFrom" pInputText
                          autocomplete="off" required>
                        <label for="LorryFrom" class="float-input">From</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="ManualDocNumber" type="text" size="20" pInputText maxlength="12"
                          [(ngModel)]="ManualDocNo" autocomplete="off" required>
                        <label for="ManualDocNumber" class="float-input">Manual Document No</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      name="nxt" label=Next (click)="openNext()"></button></div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Item Details">
                <div class="ui-g-12 ui-fluid border-teal">
                  <div class="ui-g-12 ui-md-12 ui-fluid">
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -10px">
                      <label for="SchemeName" class="label-fontsize">Scheme</label>
                      <p-dropdown #sc name="SchemeName" [options]="schemeOptions" [(ngModel)]="Scheme"
                        (onClick)="onSelect('sc', 'click')" (keyup.shift.tab)="onSelect('sc', 'tab')"
                        (keyup.tab)="onSelect('sc', 'tab')" (onChange)="refreshSelect('sc')" filter="true"
                        optionLabel="label" [showClear]="true" filterMatchMode="startsWith" resetFilterOnHide="true"
                        [autoWidth]="false" [style]="{'width':'100%'}">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -10px">
                      <label for="Commodity" class="label-fontsize">Item Description</label>
                      <p-dropdown #i_desc name="Commodity" [options]="itemDescOptions" [(ngModel)]="ICode"
                        (onClick)="onSelect('i_desc', 'click')" (keyup.shift.tab)="onSelect('i_desc', 'tab')"
                        (keyup.tab)="onSelect('i_desc', 'tab')" (ngModelChange)="refreshSelect('i_desc')" filter="true"
                        resetFilterOnHide="true" optionLabel="label" filterMatchMode="startsWith" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -10px">
                      <label for="StockNo" class="label-fontsize">Stack No.</label>
                      <p-dropdown #st_no name="StockNo" [options]="stackOptions" [(ngModel)]="TStockNo"
                        (onClick)="onSelect('st_no', 'click')" (keyup.shift.tab)="onSelect('st_no', 'tab')"
                        (keyup.tab)="onSelect('st_no', 'tab')" (onChange)="onStackNoChange($event)" filter="true"
                        resetFilterOnHide="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle; word-wrap: break-word">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-md-1" style="margin-top: 8px">
                      <input name="GU/GR" type="text" pInputText [(ngModel)]="stackCompartment" maxlength="3"
                        onkeypress="return /[G&a-zA-Z0-9]/i.test(event.key)" (input)="onStackInput($event)"
                        style="text-transform: uppercase !important" [readOnly]="checkTrType">
                    </div>
                    <div class="ui-g-12 ui-md-1" style="margin-top: -10px">
                      <label for="GodownNo" class="label-fontsize">Godown No</label>
                      <input name="GodownNo" pInputText [(ngModel)]="godownNo" tabindex="-1" [readOnly]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" style="margin-top: -10px">
                      <label for="LocNo" class="label-fontsize">Location+Formation No.</label>
                      <input name="LocNo" pInputText [(ngModel)]="locationNo" tabindex="-1" [readOnly]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="padding-top: 8px;">
                      <label for="StackYear" class="ui-g-12 ui-md-10 label-fontsize-large"><b>Stack Year -
                          <b>{{stackYear}}</b></b></label>
                    </div>

                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-3 ui-fluid" style="margin-top: -10px">
                      <label for="PackingType" class="label-fontsize">Packing Type</label>
                      <p-dropdown #pt name="PackingType" [options]="packingTypeOptions" [(ngModel)]="IPCode"
                        (onClick)="onSelect('pt', 'click')" (keyup.shift.tab)="onSelect('pt', 'tab')"
                        (keyup.tab)="onSelect('pt', 'tab')" filter="true" filterMatchMode="startsWith"
                        resetFilterOnHide="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: 10px">
                      <span class="ui-float-label">
                        <input name="NoOfPacking" pInputText minlength="1" maxlength="10"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          [(ngModel)]="NoPacking" (input)="onCalculateKgs()" autocomplete="off">
                        <label for="NoOfPacking" class="float-input">No.of Packing</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -25px">
                      <p-header>
                        <div class="dashboard label-fontsize-large" style="text-align: center">
                          Gross Wt
                        </div>
                      </p-header>
                      <label for="GrossWt" class="label-fontsize">Kgs</label>
                      <label for="GrossWt" class="label-fontsize" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="GrossWt" type="text" [(ngModel)]="GKgs" size="20"
                          (input)="onCalculateWt('gkgs', GKgs)" pInputText autocomplete="off"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          appDecimalDigit>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -25px">
                      <p-header>
                        <div class="dashboard label-fontsize-large" style="text-align: center">
                          Net Wt
                        </div>
                      </p-header>
                      <label for="NetWt" class="label-fontsize">Kgs</label>
                      <label for="NetWt" class="label-fontsize" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input type="text" name="NetWt" size="20" [(ngModel)]="NKgs" pInputText
                          (input)="onCalculateWt(NKgs, 'nkgs')" autocomplete="off"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          appDecimalDigit>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-fluid" style="margin-top: -10px">
                      <label for="Weighment" class="label-fontsize">WmtType</label>
                      <p-dropdown #wmt name="Weighment" [options]="wmtOptions" [(ngModel)]="WTCode"
                        (onClick)="onSelect('wmt', 'click')" (keyup.shift.tab)="onSelect('wmt', 'tab')"
                        (keyup.tab)="onSelect('wmt', 'tab')" filter="true" filterMatchMode="startsWith"
                        resetFilterOnHide="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -20px">
                      <p-header>
                        <div class="dashboard label-fontsize-large" style="text-align: center">
                          Tare Wt
                        </div>
                      </p-header>
                      <label for="TareWt" class="label-fontsize">Kgs</label>
                      <label for="TareWt" class="label-fontsize" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="TareWt" tabindex="-1" type="text" maxlength="6" size="20" [readonly]="true"
                          [(ngModel)]="tareWt" pInputText autocomplete="off">
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: 16px;">
                      <span class="ui-float-label">
                        <input tabindex="-1" name="StackBalance" pInputText [(ngModel)]="StackBalance" [readonly]="true"
                          autocomplete="off">
                        <label for="StackBalance" class="float-input">Stack Balance</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: 16px;">
                      <span class="ui-float-label">
                        <input name="MoistureNo" type="text" minlength="1" maxlength="5" size="20"
                          [(ngModel)]="Moisture" pInputText autocomplete="off" (keyup)="parseMoisture($event)"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        <label for="MoistureNo" class="float-input">Moisture</label>
                      </span>
                    </div>
                    <div class="ui-g-12 ui-md-1 ui-fluid" style="margin-top: 16px;">
                      <button pButton type="button" name="enter" label="Enter" (click)="onEnter()"
                        [disabled]="(!Scheme || !Moisture || !ICode || !IPCode || !NoPacking || !WTCode || !TStockNo || NoPacking==null || Moisture==null || NKgs==null || GKgs==null || (NKgs!=null && NKgs==0))"></button>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <p-table name="item_table" [columns]="itemCol" [value]="itemData" [responsive]="true"
                      autoLayout="true" [scrollable]="true" scrollHeight="200px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:115px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="deleteRow(rowData, rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                            <i *ngIf="rowdata?.icon" class="pi pi-trash" aria-hidden="true"></i>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-10 ui-md-10"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" name="prev" type="button" pButton label=Prev
                      (click)="openPrev()"></button></div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" name="nxt" type="button" pButton label=Next
                      (click)="openNext()"></button></div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Freight Details">
                <div class="ui-g-12 ui-fluid border-teal">
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="TransporterNameField" pInputText [(ngModel)]="TransporterName" maxlength="35"
                          autocomplete="off">
                        <label for="TransporterNameField" class="float-input">Transporter Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="LWBNo" pInputText [(ngModel)]="LWBillNo" maxlength="15" autocomplete="off">
                        <label for="LWBNo" class="float-input">Lorry Way Bill No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -22px;">
                      <label class="label-fontsize" for="WBillDate">Way Bill Date</label>
                      <p-calendar name="LWBDate" [(ngModel)]="LWBillDate" [showIcon]="true" [disabled]="true"
                        placeholder="Way Bill Date" dateFormat="dd/mm/yy">
                      </p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-1 ui-fluid">
                      <span class="ui-float-label">
                        <input name="Kms" pInputText [(ngModel)]="Kilometers" [disabled]="true"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off">
                        <label for="Kms" class="float-input">Kms</label>
                      </span>
                    </div>
                    <!-- </div> -->
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="FreightAmt" pInputText [(ngModel)]="FreightAmount" [disabled]="true"
                          autocomplete="off" appDecimalAmount>
                        <label for="FreightAmt" class="float-input">Freight Amt</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-3 ui-fluid">
                      <span class="ui-float-label">
                        <input name="WHDReceipt" pInputText [(ngModel)]="WHDNo" [disabled]="true" autocomplete="off">
                        <label for="WHDReceipt" class="float-input">Ware House Deposit Receipt</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="Wmt" pInputText [(ngModel)]="WCharges" [disabled]="true" autocomplete="off"
                          appDecimalAmount>
                        <label for="Wmt" class="float-input">Wmt Charges</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="HChrg" pInputText [(ngModel)]="HCharges" [disabled]="true" autocomplete="off"
                          appDecimalAmount>
                        <label for="HChrg" class="float-input">Handling Charges</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="UGunny" pInputText [(ngModel)]="GUnserviceable" [disabled]="true"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off">
                        <label for="UGunny" class="float-input">Un Serviceable</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="SGunny" pInputText [(ngModel)]="GServiceable" [disabled]="true"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off">
                        <label for="SGunny" class="float-input">Serviceable Gunny</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="Patches"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          pInputText [(ngModel)]="GPatches" [disabled]="true" autocomplete="off">
                        <label for="Patches" class="float-input">Gunny With Patches</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -18px">
                      <label class="label-fontsize">Freight Code</label>
                      <p-dropdown #fc name="FCode" [options]="freightOptions" [disabled]="true" [(ngModel)]="FCode"
                        (onClick)="onSelect('fc', 'click')" (keyup.shift.tab)="onSelect('fc', 'tab')"
                        (keyup.tab)="onSelect('fc', 'tab')" filter="true" filterMatchMode="startsWith"
                        resetFilterOnHide="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -18px">
                      <label class="label-fontsize">Vehicle Code</label>
                      <p-dropdown #vc name="VCode" [options]="vehicleOptions" [disabled]="true" [(ngModel)]="VCode"
                        (onClick)="onSelect('vc', 'click')" (keyup.shift.tab)="onSelect('vc', 'tab')"
                        (keyup.tab)="onSelect('vc', 'tab')" filter="true" resetFilterOnHide="true" optionLabel="label"
                        [showClear]="true" filterMatchMode="startsWith" placeholder="-select-">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="GUtilised" pInputText [(ngModel)]="Gunnyutilised" [disabled]="true"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off">
                        <label for="GUtilised" class="float-input">Gunny Utilised</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="GReleased" pInputText [(ngModel)]="GunnyReleased" [disabled]="true"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off">
                        <label for="GReleased" class="float-input">Gunny Released</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="TMno" pInputText [(ngModel)]="mno" [disabled]="true" autocomplete="off">
                        <label for="TMno" class="float-input">Issue/Truck M.no</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="StackNo" pInputText [(ngModel)]="StackNo" [disabled]="true" autocomplete="off">
                        <label for="StackNo" class="float-input">Stack Number</label>
                      </span>
                    </div>
                    <div class="ui-g-2"></div>
                  </div>
                  <div class="ui-g-12 ui-fluid border-lightgrey">
                    <div class="ui-g-6 ui-md-3 ui-fluid" style="margin-top: -18px">
                      <label class="label-fontsize">From Station</label>
                      <p-dropdown #fs name="FStation" [options]="fromStationOptions" [disabled]="true"
                        [(ngModel)]="FStation" (onClick)="onSelect('fs', 'click')" filter="true"
                        resetFilterOnHide="true" optionLabel="label" (keyup.shift.tab)="onSelect('fs', 'tab')"
                        (keyup.tab)="onSelect('fs', 'tab')" filterMatchMode="startsWith" [showClear]="true"
                        placeholder="-select-">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-3 ui-fluid" style="margin-top: -18px">
                      <label class="label-fontsize">To Station</label>
                      <p-dropdown #ts name="TStation" [options]="toStationOptions" [disabled]="true"
                        [(ngModel)]="TStation" (onClick)="onSelect('ts', 'click')" resetFilterOnHide="true"
                        (keyup.shift.tab)="onSelect('ts', 'tab')" (keyup.tab)="onSelect('ts', 'tab')" filter="true"
                        resetFilterOnHide="true" optionLabel="label" [showClear]="true" filterMatchMode="startsWith"
                        placeholder="-select-">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="RRNo" pInputText [(ngModel)]="RRNo" [disabled]="true" autocomplete="off">
                        <label for="RRNo" class="float-input">R.R.No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <p-calendar [(ngModel)]="LDate" name="LDate" [showIcon]="true" [disabled]="true"
                        dateFormat="dd/mm/yy" placeholder="Loading Date">
                      </p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid">
                      <span class="ui-float-label">
                        <input name="wno" pInputText [(ngModel)]="WNo" [disabled]="true" autocomplete="off">
                        <label for="wno" class="float-input">Wagon No</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-6 ui-md-6">
                      <span class="ui-float-label">
                        <textarea pInputText rows="4" name="remarks" cols="70" maxlength="250" pInputTextarea
                          [(ngModel)]="Remarks" autocomplete="off" required></textarea>
                        <label for="remarks" class="float-input">Remarks</label>
                      </span>
                    </div>
                    <div class="ui-g-10 ui-md-5"></div>
                    <div class="ui-g-2 ui-md-1" style="margin-top: 25px;">
                      <button name="prev" class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px"
                        type="button" pButton label=Prev (click)="openPrev()"></button></div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button pButton style="margin-top:5px; margin-left: 10px" name="validate" type="button" label=Validate
                (click)="onSubmit(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button pButton style="margin-top:5px; margin-left: 10px" name="preview" type="button" label=Preview
                (click)="viewPreview(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-6"></div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad" style="margin-left: -20px;">
              <button name="view" style="margin-top:5px" pButton type="button" label=View
                (click)="onView();resetForm(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button name="save" style="margin-top:5px" pButton type="button"
                [disabled]="(!f.valid || disableSave || itemData.length=='0' || (isViewed && !f.dirty))" label=Save
                (click)="onSave('1');resetForm(f)"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button name="print" style="margin-top:5px" pButton type="button"
                [disabled]="((isViewed && f.dirty) || (!isViewed && !isSaveSucceed) || (!isViewed && f.dirty))"
                label=Print (click)="onPrint()"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid no-left-pad">
              <button style="margin-top:5px" pButton type="button" label=Clear (click)="onClear()"></button>
            </div>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </form>
  </p-panel>
</div>
<p-dialog header="Stock-Receipt" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
  [(visible)]="viewPane" [responsive]="true">
  <div>
    <div class="ui-g-6 ui-md-8 no-pad-top">
      <label class="label-fontsize-large">Date</label>
      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="viewDate" [maxDate]="maxDate"
        (ngModelChange)="onView()"></p-calendar>
    </div>
    <div class="ui-g-4 ui-md-1 dashboard">
      <button class="ui-md-10 dashboard" pButton label=OK [disabled]="(!selected || selected==null)"
        (click)="getDocBySRNo()"></button>
    </div>
    <div class="ui-g-4 ui-md-1 dashboard">
      <button class="ui-md-10 dashboard" pButton label=Cancel (click)="viewPane = false"></button>
    </div>
  </div>
  <div class="ui-g-12 ui-fluid">
    <p-table [columns]="documentViewCol" [value]="documentViewData" selectionMode="single" [rows]="20"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [(selection)]="selected" [responsive]="true"
      autoLayout="true" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:80px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
<p-dialog header="Data Required" [modal]="true" [(visible)]="submitted" [style]="{width: 'auto', height: 'auto'}">
  <div>
    <p-listbox [options]="missingFields" [(ngModel)]="field" optionLabel="value"></p-listbox>
  </div>
</p-dialog>
<p-dialog header="Stock Receipt Slip - Preview" [modal]="true" [(visible)]="showPreview"
  [contentStyle]="{'overflow':'scroll'}" [maximizable]="true" [style]="{width: '70vw', height: '70vw'}">
  <div class="ui-g-12 ui-md-12 border-blue card">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 no-pad-top" style="color: #18c5a9;text-decoration: underline;">Receipt Details</div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> SR Date:</label>
        <!-- <input type="text" pInputText [(ngModel)]="PreSIDate"/> -->
        <span style="color: #44a3ec;padding-left: 5px;">{{PreSRDate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Month:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreMonth}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Year:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreYear}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Allotment/Release Order No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreAllotNo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Allotment/Release Order Date:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreAllotDate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Transport Name:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTransMode}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Transaction:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTransaction}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Depositor Type:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreDepType}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Depositor Name:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreDepName}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Truck Memo No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTruckMemoNo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Truck Memo Date:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreTruckMemoDate}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Vehicle No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreVehicleNo}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> From:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreVechileFrom}}</span>
      </div>
      <div class="ui-g-6 ui-md-4 label-fontsize-large">
        <label> Manual Doc No:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreManualDocNo}}</span>
      </div>

    </div>
    <div *ngIf="(itemData.length!='0')" class="ui-g-12 no-pad-top" style="color: #18c5a9;text-decoration: underline;">
      Item Details</div>
    <div *ngIf="(itemData.length!='0')" class="ui-g-12 ui-fluid no-pad-top">
      <p-table tabindex="-1" [columns]="itemCol" [value]="itemData" [responsive]="true" autoLayout="true"
        [scrollable]="true" scrollHeight="200px">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width:115px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 no-pad-top" style="color: #18c5a9;text-decoration: underline;">Freight Details</div>
      <div class="ui-g-6 ui-md-10 label-fontsize-large">
        <label> Remarks:</label>
        <span style="color: #44a3ec;padding-left: 5px;">{{PreRemarks}}</span>
      </div>
    </div>
  </div>
</p-dialog>