<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Society Master Entry</div>
        <div class="ui-g-8 dashboard" style="text-align: end !important;">
          <!-- <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText placeholder="Search by IssuerName"
            (ngModelChange)="onSearch($event)"> 
          <button class="inline-padding" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button> -->
          <p-splitButton class="inline-padding" label="Export" icon="pi pi-download" [model]="items"
            styleClass="ui-button-danger"></p-splitButton>
          <!-- <button class="inline-padding" pButton type="button" icon="fa fa-print" class="ui-button-warn"
            (click)="print()"></button> -->
        </div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2"></div>
      <div class="ui-g-12 ui-md-3">
        <label class="ui-g-7 label-fontsize dashboard">Godown</label>
        <p-dropdown class="ui-g-12 ui-fluid dashboard" [options]="godownOptions" [(ngModel)]="g_cd"
          (ngModelChange)="onResetTable()" (onClick)="onSelect()" filter="true" resetFilterOnHide="true"
          optionLabel="label" [showClear]="true" filterMatchMode="startsWith" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-3">
        <label class="ui-g-7 label-fontsize dashboard">Type Name</label>
        <p-dropdown class="ui-g-12 ui-fluid dashboard" [options]="typeOptions" [(ngModel)]="t_cd"
          (ngModelChange)="onResetTable()" (onClick)="onType()" filter="true" resetFilterOnHide="true"
          optionLabel="label" [showClear]="true" filterMatchMode="startsWith" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <!-- <div class="ui-g-12 ui-md-4">
        <label class="ui-g-7 label-fontsize dashboard">Society Name</label>
        <input type="text" size="20" [(ngModel)]="OrderNo" maxlength="20" pInputText autocomplete="off">
      </div> -->
      <div class="ui-g-3 ui-md-1" style="padding-top: 23px">
        <button pButton type="button" label=View [disabled]="(!t_cd || !g_cd)" (click)="onView()"></button>
      </div>
      <!-- <div class="ui-g-3 ui-md-1" style="padding-top: 24px">
        <button pButton type="button" label=Excel (click)="exportAsXLSX()"></button>
      </div> -->
      <div class="ui-g-12 ui-md-2"></div>

      <div class="ui-g-12 dashboard">
        <p-table [columns]="SocietyMasterCols" [value]="SocietyMasterData" [rows]="20"
          [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single" [paginator]="true" [responsive]="true"
          autoLayout="true" [loading]="loading" exportFilename="SOCIETY_MASTER_ENTRY">
          <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>